<div class="d-flex flex-column">
  <div class="position-sticky top-0 w-100 mb-2 ps-3" style="z-index:99; background-color: var(--sidebar-background-color);">
    <div class="d-flex flex-row align-items-center justify-content-end">
      <h5 class="w-100 m-0">Users</h5>
      <button nbButton ghost status="basic" [nbContextMenu]="items" tag="right" disabled><nb-icon
        icon="more-vertical-outline"></nb-icon></button>
      </div>
  </div>
  <div class="d-flex flex-column justify-content-start align-items-start">
    <ng-container *ngFor="let user of usersDataService.users">
      <button class="w-100 d-inline" style="text-align: left !important;" nbButton ghost [status]="selectedUser == user ? 'primary' : 'basic'"
        (click)="selectedUser =user">
        {{ user.userBasicInfos.lastname + ' ' + user.userBasicInfos.firstname }}
      </button>
    </ng-container>
  </div>
</div>
